.inputSearch {
  border-style: thin 1px ghostwhite;
  /* border-radius: 20px; */
  background-color: inherit;
  /* width: 270px; */
  outline: none;

  padding: 2px;
}

.searchLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
}
.btnSearch {
  outline: none;
}

.fa-search {
  font-size: 25px;
  color: #464646;
}
