@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-image: url("./nature-sky-sunset-the-mountains-66997.jpg");
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
}

.jumbotronContainer {
  margin-top: 50px;

  border-bottom: solid 2px silver;
  /* box-shadow: 0 10px 10px -8px gray; */
  /* margin-bottom: 10px; */
  padding: 20px;
}

i {
  color: rgb(68, 68, 68);
}

.cityName {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  margin-bottom: 0;
  font-weight: lighter;
}
.temperature {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.temperature-p {
  font-family: "Poppins", sans-serif;
  color: wheat;
  font-size: 14px;
  margin-top: 0px;
}

.humidity,
.wind,
.uvIndex {
  color: #464646;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-bottom: 1px;
}

.today {
  font-size: 20px;
  color: wheat;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
.todayDate {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: wheat;
}

@media screen and (max-width: 600px) {
  .cityName {
    font-size: 30px;

    font-weight: lighter;
  }

  .today {
    font-size: 16px;
  }
  .todayDate {
    font-size: 13px;
  }
  .temperature {
    font-size: 30px;
    font-weight: lighter;
  }

  .temperature-p {
    font-size: 13px;
  }
  .imgURL {
    font-size: 1em;
  }
}
