.jumbotronContainer{
    background-color: white;
    box-shadow: 1px 1px 5px silver;
 
    
}

.cityName  {

    color: skyblue;
    font-family: 'Alata', sans-serif;
    font-size: 55px;
    margin-bottom: 0;
    font-weight: lighter
}
.temperature{
  color: #464646;
    font-family: 'Alata', sans-serif;
    font-size: 60px;
    font-weight: lighter
 

}

.humidity , .wind {
    color: #464646;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    
}

.today{
    font-size: 25px;
    margin-bottom: 0;

    
    font-family: 'Alata', sans-serif;
    
}
.todayDate{
    font-family: 'Alata', sans-serif;
   
    
    font-size: 15px;
    color: silver;
  

}
