.navBackground {
  background-color: inherit;
  padding: 10px;
  margin-bottom: 10px;
  /* box-shadow: 0px 2px 5px 1px silver; */
}

.navTitle {
  font-family: "Lora", serif;
  font-size: 45px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
